<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home/Register - Uni OA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto border-bottom"
                  style="border-bottom-width: 5px;">
                  <span class="d-none d-lg-block">University OA System</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body" id="register-card">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <div class="d-flex my-2 justify-content-around">

                    <div class="form-check">
                      <input class="form-check-input" name="role_check" type="radio" id="role_stu"
                        @click="click_role_stu">
                      <label class="form-check-label" for="role_stu">我是<a href="#">学生</a></label>
                      <div class="invalid-feedback">请选择您的身份</div>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" name="role_check" type="radio" id="role_teacher"
                        @click="click_role_tea">
                      <label class="form-check-label" for="role_teacher">我是<a href="#">老师</a></label>
                      <div class="invalid-feedback">请选择您的身份</div>
                    </div>
                  </div>

                  <!-- *****************学生的表单*********************** -->
                  <form action="http://localhost:30/students/register" method="post" class="row g-3 needs-validation" v-show="show_stu_form === 1" novalidate @submit="formCheck(stu)">
                    <div class="col-12">
                      <label for="sname" class="form-label">学生姓名</label>
                      <input type="text" name="sname" class="form-control" v-model="stu.sname" id="sname" required>
                      <div class="invalid-feedback">请输入学生姓名</div>
                    </div>

                    <div class="col-12">
                      <label for="studentIdentity" class="form-label">身份证</label>
                      <input type="number" v-model="stu.id" name="id" class="form-control" id="studentIdentity"
                        required>
                      <div class="invalid-feedback">请输入正确的身份证！</div>
                    </div>

                    <div class="col-12">

                      <label for="collegeId" class="form-label">学院编号</label>
                      <input type="number" placeholder="*选填 " name="collid" v-model="stu.collid" class="form-control"
                        id="collegeId">

                    </div>

                    <div class="col-12">
                      <label for="city" class="form-label">生源地</label>
                      <input type="text" placeholder="请输入城市" v-model="stu.sori" name="sori" class="form-control" id="city">
                    </div>



                    <div class="col-12">
                      <label for="sex" class="form-label">性别</label>
                      <input type="text" placeholder="请输入male或female" v-model="stu.sex" name="sex" class="form-control"
                        id="sex" required>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and
                            conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" @click="" >Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="pages-login.html">Log in</a></p>
                    </div>
                  </form>

                  <!-- *****************教师的表单*********************** -->
                  <form action="http://localhost:30/teachers/register" method="post" class="row g-3 needs-validation" v-show="show_tea_form === 1" novalidate @submit="formCheck(teacher)">
                    <div class="col-12">
                      <!--   名字-->
                      <label for="yourName" class="form-label">Teacher Name</label>
                      <input type="text" name="name" v-model="teacher.name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="identity" class="form-label">身份证</label>
                      <input type="number" name="id" v-model="teacher.id" class="form-control" id="identity" required>
                      <div class="invalid-feedback">请输入正确的身份证！</div>
                    </div>

                    <div class="col-12">
                      <label for="role" class="form-label">教师角色</label>
                      <select class="form-select" id="role" v-model="teacher.trole" name="trole" required>
                        <option value="普通教师">普通教师</option>
                        <option value="校级管理员">校级管理员</option>
                        <option value="院级管理员">院级管理员</option>
                        <option value="系统管理员" disabled>系统管理员 *禁用*</option>
                      </select>
                    </div>

                    <div class="col-12">
                      <label for="sexinput" class="form-label">性别</label>
                      <input type="text" placeholder="*选填  请输入male或female" v-model="teacher.sex" name="tsex"
                        class="form-control" id="sexinput" required>
                    </div>

                    <div class="col-12">
                      <label for="collegeId" class="form-label">学院编号</label>
                      <input type="number" placeholder="*选填 " v-model="teacher.collegeId" name="collegeId" class="form-control" id="yourPassword">
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTermstea" required>
                        <label class="form-check-label" for="acceptTermstea">I agree and accept the <a href="#">terms and
                            conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="pages-login.html">Log in</a></p>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Custom Js Files -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./vuejs/pages-register.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>