<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uni.dao.StudentsMapper">

    <resultMap id="BaseResultMap" type="org.uni.domain.Students">
            <id property="sno" column="wt_sno" jdbcType="OTHER"/>
            <result property="id" column="wt_id" jdbcType="VARCHAR"/>
            <result property="sname" column="wt_sname" jdbcType="VARCHAR"/>
            <result property="sex" column="wt_sex" jdbcType="VARCHAR"/>
            <result property="sage" column="wt_sage" jdbcType="INTEGER"/>
            <result property="sori" column="wt_sori" jdbcType="VARCHAR"/>
            <result property="scredits" column="wt_scredits" jdbcType="INTEGER"/>
            <result property="collid" column="wt_collid" jdbcType="INTEGER"/>
            <result property="mno" column="wt_mno" jdbcType="INTEGER"/>
            <result property="classno" column="wt_classno" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        wt_sno,wt_id,wt_sname,
        wt_sex,wt_sage,wt_sori,
        wt_scredits,wt_collid,wt_mno,
        wt_classno
    </sql>
</mapper>
