<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uni.dao.TeaCheckMapper">

    <resultMap id="BaseResultMap" type="org.uni.domain.TeaCheck">
            <result property="tid" column="wt_tid" jdbcType="INTEGER"/>
            <result property="records" column="wt_records" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    </sql>
</mapper>
